@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
:root {}

* {
	box-sizing: border-box;
}

p {
	margin: unset
}

body {
	width: 100vw !important;
	height: 100vh !important;
	margin: unset !important;
	overflow: hidden !important;
	font-family: 'Yusei Magic', sans-serif;
}

ul {
	margin: unset;
	list-style: none;
}