@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
:root {}

* {
	box-sizing: border-box;
}

p {
	margin: unset
}

body {
	position: relative;
	max-width: 480px;
	min-width: 360px;
	width: 100vw;
	height: 100vh;
	margin: 0 auto;
	overflow: hidden;
	font-family: 'Yusei Magic', sans-serif;
}

ul {
	margin: unset;
	list-style: none;
}