/* ------------------------------------
コメントのデザイン
------------------------------------ */

.comment-list {
	padding: 1.5em;
}

.comment {
	position: relative;
	display: inline-block;
	width: 100%;
	padding: 7px 10px;
	background: #FFF;
	border: solid 3px #555;
	/* border-radius: 15px; */
}

.comment:before {
	content: "";
	position: absolute;
	top: 50%;
	border: 12px solid transparent;
	z-index: 2;
}

.comment.left:before {
	left: -24px;
	margin-top: -12px;
	border-right: 12px solid #FFF;
}

.comment.right:before {
	right: -24px;
	margin-top: -12px;
	border-left: 12px solid #FFF;
}

.comment:after {
	content: "";
	position: absolute;
	top: 50%;
	z-index: 1;
}

.comment.left:after {
	left: -30px;
	margin-top: -14px;
	border: 14px solid transparent;
	border-right: 14px solid #555;
}

.comment.right:after {
	right: -30px;
	margin-top: -14px;
	border: 14px solid transparent;
	border-left: 14px solid #555;
}