main {
	height: 100%;
	width: 100%;
	background: radial-gradient(#ff84ff, #ffa3d1) fixed;
}

/* ------------------------------------
title
------------------------------------ */

.title {
	display: flex;
	flex-wrap: wrap;
	z-index: 10000;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: radial-gradient(#ff84ff, #ffa3d1) fixed;
	align-items: center;
	transition-duration: 0.8s;
}

.title-inner {
	width: 80%;
	padding: 1em;
	margin: 10% auto 0 auto;
	border-radius: 2em;
	background-color: #fff;
}

.title.invisible {
	opacity: 0;
	z-index: -1000;
}

.title-inner>* {
	font-size: 3em;
	text-align: center;
	width: 100%;
}

.title>button {
	width: 90%;
	font-size: 2.3em;
	border-radius: 2em;
	margin: 1em auto;
	font-family: 'Yusei Magic', sans-serif;
	background-color: #fff;
	border: 2px solid #fff;
	box-shadow: 2px 2px 2px;
	transition-duration: 0.3s;
}

.title>button:hover {
	background-color: #7f7fff;
}

/* ------------------------------------
コメントのデザイン
------------------------------------ */

.comment-title {
	border-radius: 3em 3em 0 0;
	background-color: #fff;
	text-align: center;
	color: #ff7fff;
	font-weight: bold;
}

.comment-list {
	width: 100%;
	height: 100%;
	padding: 1.5em;
	border: 1px solid #c184ff;
	overflow-y: auto;
	background-image: linear-gradient(0deg, transparent 31px, #333 32px), linear-gradient(90deg, transparent 31px, #333 32px);
	background-color: #fff;
	background-size: 32px 32px;
}

.comment {
	position: relative;
	display: inline-block;
	margin: 1em 0;
	width: 100%;
	padding: 7px 10px;
	background: #FFF;
	color: #2e2e66;
	border: solid 3px #2e2e66;
	border-radius: 10px;
	opacity: 0.9;
}

.comment:before {
	content: "";
	position: absolute;
	top: 50%;
	border: 12px solid transparent;
	z-index: 2;
}

.comment.left:before {
	left: -24px;
	margin-top: -12px;
	border-right: 12px solid #FFF;
}

.comment.right:before {
	right: -24px;
	margin-top: -12px;
	border-left: 12px solid #FFF;
}

.comment:after {
	content: "";
	position: absolute;
	top: 50%;
	z-index: 1;
}

.comment.left:after {
	left: -30px;
	margin-top: -14px;
	border: 14px solid transparent;
	border-right: 14px solid #555;
}

.comment.right:after {
	right: -30px;
	margin-top: -14px;
	border: 14px solid transparent;
	border-left: 14px solid #555;
}

/* ------------------------------------
loader
------------------------------------ */

.loader {
	border: 12px solid #fafafa;
	border-radius: 50%;
	border-top: 12px solid #5050b3;
	width: 60px;
	height: 60px;
	margin: 0 auto;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}