body {
	overflow: hidden
}

.canvas-container {
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px;
}

.canvas-container>canvas {
	width: 100%;
	height: 100%;
	background: url('./../resources/Images/room.jpg');
	background-size: cover;
}

#comment_container {
	height: 60%;
	padding: 1em 1em;
	overflow-y: hidden;
	overflow-x: hidden;
}